<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_com_bbva_arq_front_spring_wxyz_empleweb_dominio_Tarea" modelAttribute="tarea" path="/tareas" render="${empty dependencies}" z="n3KlJ7HeIwf/bmY/9VXgWFGSRUc=">
        <field:input field="nombre" id="c_com_bbva_arq_front_spring_wxyz_empleweb_dominio_Tarea_nombre" max="25" z="xOJQo4yXVogQ1akpS4ZQMgYTBtQ="/>
        <field:textarea field="descripcion" id="c_com_bbva_arq_front_spring_wxyz_empleweb_dominio_Tarea_descripcion" z="DQkvwhQW9fspRHnwDaPPjMoH39c="/>
        <field:select field="propietario" id="c_com_bbva_arq_front_spring_wxyz_empleweb_dominio_Tarea_propietario" itemValue="id" items="${empleadoes}" path="/empleadoes" z="Q+uk0GRfrTE13lGm9ZB9a8Ad8qQ="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_bbva_arq_front_spring_wxyz_empleweb_dominio_Tarea" render="${not empty dependencies}" z="qKF86cjkukEAdJ645ctGySQi6MU="/>
</div>
