<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_com_bbva_arq_front_spring_wxyz_empleweb_dominio_Tarea" items="${tareas}" z="Rg4tjLEKvG+GckRPcSRKHv6Ci7g=">
        <table:table data="${tareas}" id="l_com_bbva_arq_front_spring_wxyz_empleweb_dominio_Tarea" path="/tareas" z="dez5Pee0DMjraj0pe/h8pnmQU9I=">
            <table:column id="c_com_bbva_arq_front_spring_wxyz_empleweb_dominio_Tarea_nombre" property="nombre" z="16eTfgjVdQxF9t3WGBvO2vQJiEU="/>
            <table:column id="c_com_bbva_arq_front_spring_wxyz_empleweb_dominio_Tarea_descripcion" property="descripcion" z="6wKLPkAo/ctu3m05Mml3UxW22bw="/>
            <table:column id="c_com_bbva_arq_front_spring_wxyz_empleweb_dominio_Tarea_propietario" property="propietario" z="dZb0+3vRgnuWYtUQqudWA2LMsW8="/>
        </table:table>
    </page:list>
</div>
