<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show id="ps_com_bbva_arq_front_spring_wxyz_empleweb_dominio_Tarea" object="${tarea}" path="/tareas" z="24/bZVZaU3COuyZd6KKMkUCJ6tc=">
        <field:display field="nombre" id="s_com_bbva_arq_front_spring_wxyz_empleweb_dominio_Tarea_nombre" object="${tarea}" z="q0rzvYJ2rZQvFNCceTpUVJLJ22w="/>
        <field:display field="descripcion" id="s_com_bbva_arq_front_spring_wxyz_empleweb_dominio_Tarea_descripcion" object="${tarea}" z="Mzvi3z6g/pEqeuxlSqy5uLhWidE="/>
        <field:display field="propietario" id="s_com_bbva_arq_front_spring_wxyz_empleweb_dominio_Tarea_propietario" object="${tarea}" z="rpdSVe3sjqVlhAz1CTTlP9wMSm8="/>
    </page:show>
</div>
